<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AutomationTest">

	<listeners>
		<listener class-name="com.AU.listeners.TestListeners" />
	</listeners>
 
  <!-- Add Test to run -->
  
  <test name="Test ">
    <classes>
    
      <class name="com.crm.testCases.TaskLeadCreationFunctionalityTest"/>
      <class name="com.crm.testCases.DedupeRuleFunctionalityTest"/>
     <!-- <class ame="com.crm.testCases.ETBLeadIsGettingCreatedTest"/>-->
    <class name="com.crm.testCases.DataPresenterEDSFunctionalityTest"/>
 
   <class name="com.crm.testCases.TabVisibleOnCustomerFunctionalityTest"/>
  <class name="com.crm.testCases.LeadSearchFunctionalityTest"/>
  <class name="com.crm.testCases.CustomerSearchFunctionalityTest"/>
 <class name="com.crm.testCases.QuickLinkFunctionalityTest"/>
<class name="com.crm.testCases.CallAndMeetingsFunctionalityTest"/>
<class name="com.crm.testCases.ActivityTabFunctionalityTest"/>
<class name="com.crm.testCases.AppointmentPagePagginationFunctionalityTest"/>
<class name="com.crm.testCases.ActivityTaskCreatedOnETBCustomerFunctionalityTest"/>
<class name="com.crm.testCases.ActivityTaskCreatedOnETBLeadFunctionalityTest"/>
<class name="com.crm.testCases.TaskActivityIsCreatedIndependentlyFunctionalityTest"/>
<class name="com.crm.testCases.OfferCreationFunctionalityTest"/>
<class name="com.crm.testCases.SRCreartionUsingCERSAIChargesRelatedSubSubCategoryFunctionalityTest"/>
<class name="com.crm.testCases.ReportsTabFunctionalityTest"/>
<!--<class name="com.crm.testCases.LeadCreationFunctionalityTest"/>-->
<!--<class name="com.crm.testCases.AttachDocumentOnLeadAttachmentTabFunctionalityTest"/>-->
<!--<class name="com.crm.testCases.LeadPagePagginationFunctionalityTest"/>-->
<!--<class name="com.crm.testCases.AppointmentIsCreatedAgainstLeadFunctionalityTest"/>-->
<!--<class name="com.crm.testCases.AssetLeadCreationFunctionalityTest"/>-->
<!--<class name="com.crm.testCases.AssetLeadCreationForCCODProductsFunctionalityTest"/>-->
<class name="com.crm.testCases.PrimarySecondaryLeadCreationFlowForSavingAccountFunctionalityTest"/>

<class name="com.crm.testCases.SRCreationFunctionalityTest"/>
<!--<class name="com.crm.testCases.UserSelfAssignSRCaseFunctionalityTest"/>-->
<!--<class name="com.crm.testCases.EmailSyndicationFunctionalityTest"/>-->
<!--<class name="com.crm.testCases.OfferIsCreatedOnCustomerFunctionalityTest"/>-->
<!--<class name="com.crm.testCases.CustomerIsGettingCreatedThroughLeadsFunctionalityTest"/>-->
<!--<class name="com.crm.testCases.ConditionalAlertFunctionalityTest"/>-->
<class name="com.crm.testCases.ConditionalAccessFunctionalityTest"/>



 



 

 
 
   
  
    
    
      
    </classes>
  </test> 
  
  <!-- Test -->
  
  
</suite> <!-- Suite -->
